#welcome {
  text-align: center;
  color: #3b5998;
}

#login {
  background-color: white;
  position: relative;
  border: 1px solid #ddd;
  width: 40%;
  left: 30%;
  padding: 20px;
  margin: 10px 0px;
}

#login h1 {
  color: #3b5998;
  text-align: center;
  padding-bottom: 20px;
}

#login:after {
  display: block;
  clear: both;
  content: '';
}

.login-element input {
  position: relative;
  top: -10px;
  width: 80%;
  padding: 5px;
  margin: 5px;
  float: right;
}

.login-element:after {
  display: block;
  clear: both;
  content: '';
}

b {
  width: 20%;
  color: #3b5998;
}

#login-btn {
  background-color: #eee;
  color: #3b5998;
  border: 1px solid #fff;
  padding: 8px 12px;
  margin: 0px 2px;
  border-radius: 2px;
  float: right;
}

#login-btn:hover {
  background-color: white;
}