/* Start up */
.startup {
  padding: 20px;
}

.login, .signup {
  background-color: #eee;
  border: 1px solid #fff;
  color: #3377ff;
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
  text-decoration: none;
}

.login:hover, .signup:hover {
  background-color: #fff;
  text-decoration: none;
}
/* Navigation bar */
#navbar ul {
  list-style-type: none;
  overflow: visible;
  background-color: #3b5998;
  padding: 0px 18px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

#navbar ul li {
  display: inline-block;
  border: px solid black;
  margin: 0px;
}

#navbar ul li:hover {
  background-color: #002966;
}

.navbar-a {
  display: block;
  padding: 12px 12px;
  text-decoration: none;
  color: white;
}

.navbar-a:hover {
  color: white;
  text-decoration: none;
  background-color: #002966;
  cursor: pointer;
}

.navbar-a:visited {
  color: white;
  text-decoration: none;
  background-color: #002966;
}

.navbar-a:active {
  color: white;
  text-decoration: none;
  background-color: #002966;
}

.navbar-avatar {
  border: px solid black;
  width: 40px;
  margin: 0;
  padding: 6px;
}

.navbar-avatar img {
  border-radius: 2px;
}
/* Notification */

.noti-li {
  position: relative;
}

.noti-container {
  display: ;
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 50px;
  right: -10px;
  margin-right: 0px;
  width: 450px;
  z-index: 100;
}

.noti-container:before {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 320px;
}

.noti-header {
  position: relative;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  z-index: 1000;
  width: 446px;
  border-bottom: 1px solid #dddddd;
}

.noti-body {
  position: relative;
  padding: 5px 0px 0px 0px !important;
  max-height:400px;
  overflow-y: scroll;
}

.noti-footer {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 7px;
  border-top: 1px solid #dddddd;
}

.noti-footer a {
  text-decoration: none;
  color: #3b5998;
}

.noti-footer a:hover {
  text-decoration: underline;
}

.noti-count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 9px;
  -moz-border-radius: 9px; 
  -webkit-border-radius: 9px;
  position: absolute;
  margin-top: 3px;
  font-size: 11px;
}

.noti, .msg {
  position: relative;
  border: 1px solid #eee;
  margin: 3px 2px;
  background-color: #f4f6f9;
}

.noti a, .msg a {
  color: #333;
}

.seemore {
  color: #3b5998;
  display: block;
  cursor: pointer;
}

.noti-seemore {
  padding: 2px;
  text-align: center;
}

.noti:hover, .msg:hover {
  background-color: #f9fafd;
  cursor: pointer;
}

.noti:after, .msg:after {
  display: block;
  content: '';
  clear: both;
}

.noti-is-read {
  background-color: #fafbfe;
}

.noti-avatar {
  float: left;
  padding: 1px;
  width: 10%;
  border: px solid black;
} 

.noti-content {
  float:left;
  padding: 2px;
  width: 90%;
  border: px solid black;
}

.friend-req-confirm {
  background-color: #3b5998;
  color: white;
  border: 1px solid #3b5998;
  padding: 2px 6px;
  margin: 0px 2px;
  border-radius: 1px;
}

.friend-req-del {
  background-color: #ddd;
  color: #333;
  border: 1px solid #ccc;
  padding: 2px 6px;
  margin: 0px 2px;
  border-radius: 1px;
}

.friend-req-displayName {
  font-weight: bold;
  color: #3b5998;
}

.msg-display-name {
  
}

.msg-datetime {
  font-size: 11px;
  color: #aaa;
}

.msg-contents {
  float:left;
  padding: 2px;
  width: 85%;
  border: px solid black;
}

.msg-content {
  font-size: 13px;
  color: #777;
}

.msg-avatar {
  float: left;
  padding: 3px;
  width: 15%;
  border: px solid black;
}

/* Container */
#container {
  background-color: #f2f2f2;
  border: px solid gray;
  position: relative;
  top: 50px;
  width: 100%;
  left: 0%;
  padding: 1%;
  margin: 0% 0;
}
/* New status */
.new-status {
  background-color: white;
  position: relative;
  left: 5%;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 40%;
  padding: 10px;
}

.new-status:after {
  content: '';
  display: block;
  clear: both;
}

.status-my-avatar {
  border: px solid #ddd;
  width: 10%;
}

.status-input {
  width: 89%;
  margin-left: 1%;
  border: 0px;
  border-bottom: 1px solid #eee;
  resize: none;
  padding: 10px;
}

.add-photo-btn {
  padding: 5px 2%;
  position: relative;
  left: 11%;
  border: 1px solid gray;
  background-color: #3b5998;
  border-radius: 1px;
  color: #e6ecff;
  font-size: 13px;
}

.post-status-btn {
  padding: 5px 2%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
}

/* News feed */
#newsfeed {
  position: relative;
  border: px solid black;
  border-radius: 3px;
  min-height: 60px;
  width: 100%;
  left: 0%;
}

#newsfeed:after {
  content: '';
  display: block;
  clear: both;
}

.newsfeed-see-more {
  position: relative;
  left: 5%;
  width: 40%;
  padding: 8px 2%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  color: #3b5998;
  font-size: 14px;
}

.newsfeed-see-more:hover {
  background-color: #ddd;
}

/* Post */
.post {
  background-color: white;
  position: relative;
  width: 40%;
  left: 5%;
  margin: 10px 0%;
  border: 1px solid #ddd;
  border-radius: 1px;
  min-height: 50px;
}

.post-header {
  position: relative;
  border: px solid gray;
  margin: 10px 5px;
  padding: 0px 5px;
}

.post-header:after {
  content: '';
  display: block;
  clear: both;
}

.post-owner-avatar {
  position: relative;
  border: px solid gray;
  margin-right: 10px;
  width: 11%;
  z-index: 1;
}

.post-owner-name {
  position: relative;
  left: 0%;
  border: px solid gray;
  margin: 0px;
  width: 100%;
  padding: 0;
  color: #3b5998;
}

.post-time {
  border: px solid gray;
  margin: px;
  width: 100%;
  color: gray;
  font-size: 12px;
}

.post-content {
  border: px solid gray;
  margin: 5px;
}

.post-text {
  border: px solid gray;
  margin: 5px;
}

.post-photo {
  border: px solid gray;
  margin: 5px;
}

.post-likes {
  border: px solid gray;
  margin: 10px;
}

.like-btn {
  padding: 5px 2%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
}

.comment-btn {
  padding: 5px 2%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
}

.comment-btn:hover, .like-btn:hover {
  background-color: #ddd;
}

/**/
.comments {
  border: px solid gray;
  margin:  0px 5px;
}

.comment {
  padding-top: 5px;
  border-top: 1px solid #eee;
  margin: 5px;
}

.comment-header {
  border: px solid gray;
  margin: px;
}

.comment-header:after {
  content: '';
  display: block;
  clear: both;
}

.comment-owner-avatar {
  border: px solid gray;
  width: 7%;
  margin-right: 10px;
}

.comment-owner-name {
  border: px solid gray;
  margin: px;
  color: #3b5998;
}

.comment-time {
  border: px solid gray;
  color: gray;
  font-size: 12px;
  margin: px;
}

.comment-text {
  border: px solid gray;
  margin: px;
}

.toggleComments {
  border: 0px;
  text-decoration: underline;
  color: #3b5998;
  background-color: white;
}
/**/
.comment-post {
  border: px solid gray;
  margin: 10px;
}

.comment-post:after {
  content: '';
  display: block;
  clear: both;
}

.comment-my-avatar {
  margin-right: 1%;
  border: px solid gray;
  width: 7%;
}

.comment-input {
  border: 1px solid #eee;
  border-radius: 1px;
  width: 80%;
  margin: 5px 0%;
  padding: 5px;
  font-size: 13px;
}

.post-comment-btn {
  width: 11%;
  margin: 3px 0;
  padding: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
}

.post-comment-btn:hover {
  background-color: #dedede;
}

/* Profile header */
.profile-header {
  position: relative;
  width: 70%;
  left: 5%;
  background-color: white;
  border: 1px solid #ddd;
}

.profile-header:after {
  content: '';
  display: block;
  clear: both;
}

.profile-cover {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.profile-avatar {
  position: relative;
  background-color: #f2f2f2;
  left: 2%;
  width: 15%;
  top: -50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 2;
}

.profile-name {
  position: relative;
  left: 3%;
  z-index: 2;
  font-size: 30px;
  border: px solid black;
  width: 82%;
  
}
/**/
.profile-navbar {
  border: px solid gray;
  position: relative;
  left: 3%;
  width: 90%;
}

.profile-navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #;
  margin: 0;
  padding: 0;
}

.profile-navbar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.profile-navbar ul li a {
  text-decoration: none;
  display: block;
  background-color: #;
  border-left: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 14px;
  margin: 0;
}

.profile-navbar ul li a:hover {
  background-color: #f2f2f2;
}

.profile-friendzone {
  border: px solid gray;
  position: relative;
  left: 18%;
  width: 80%;
}

.profile-friendzone:after {
  content: '';
  display: block;
  clear: both;
}

.friendzone-btn {

  padding: 5px 13px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #00b300;
  color: white;
}

/* Friend list */
#friend-list {
  position: relative;
  width: 80%;
  left: 5%;
  margin: 2% 0;
}

.friend:after {
  content: '';
  display: block;
  clear: both;
}

.friend {
  background-color: white;
  width: 60%;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 1px;
  min-height: 100px;
}

.friend-avatar {
  margin: 1%;
  width: 14%;
  margin-right: 1%;
}

.friend-unfriend-btn {
  padding: 5px 2%;
  border: 1px solid gray;
  background-color: #003380;
  border-radius: 1px;
  color: #e6ecff;
  font-size: 13px;
}

.friend-name {
  width: 100%;
  margin: 1%;
  border: px solid gray;
  color: #003380;
}
/* Chat sidebar */
.chat-sidebar {
  width: 200px;
  position: fixed;
  font-size: 13px;
  height: 100%;
  right: 0px;
  top: 0px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid rgba(29, 49, 91, .3);
  z-index: 100;
  overflow-y: scroll;
}

.chat-sidebar-friend {
  border: 0px solid ;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}

.chat-sidebar-friend:hover {
  background-color: #eaeaea;
}

.chat-sidebar-friend:after {
  display: block;
  content: '';
  clear: both;
}

.chat-sidebar-avatar {
  position: relative;
  border: 0px solid ;
  width: 20%;
  height: 20%;
  float: left;
}

.chat-sidebar-avatar img {
  width: 96%;
  padding: 2%;
}

.chat-sidebar-name {
  border: px solid ;
  width: 70%;
  padding: 5px;
  float: left;
}

.chat-sidebar-status {
  border: px solid ;
  width: 10%;
  float: left;
  text-align: center;
  color: #00b300;
}

/* Chat popup */
.chat-popup {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 270px;
  height: 320px;
  background-color: white;
  font-size: 13px;
  width: 265px;
  border: 1px solid #ddd;
  border-radius: 1px;
  z-index: 100;
}

.chat-popup-header {
  background-color: #3377ff;
  padding: 1%;
  color: white;
  height: 8%;
  font-size: 13px;
  clear: both;
} 

.chat-popup-header-status {
  color: #00b300;
}

.chat-popup-header-left {
  float: left;
}

.chat-popup-header-right {
  float: right;
  opacity: 0.5;
}

.chat-popup-header-right span {
  padding: 3px;
  cursor: pointer;
}

.chat-popup-content {
  height: 75%;
  overflow-y: scroll;
}

.chat-popup-seemore {
  width: 100%;
  text-align: center;
}

.chat-popup-seemore span {
  width: 100%;
  padding: 5px;
  color: #3b5998;
  cursor: pointer;
}

.chat-popup-seemore span:hover {
  text-decoration: underline;
}

.chat-popup-reply {
  width: 98%;
  margin: 5px 1%;
  position: relative;
}

.chat-popup-reply:after {
  clear: both;
  content: '';
  display: block;
}

.chat-popup-reply-img-left {
  position: relative;
  width: 10%;
  float: left;
}

.chat-popup-reply-img-right {
  position: relative;
  width: 10%;
  float: right;
}

.chat-popup-reply-left {
  position: relative;
  max-width: 70%;
  min-width: 10%;
  padding: 3px;
  margin-left: 1%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 8px;
  float: left;
  text-align: left;
}

.chat-popup-reply-right {
  position: relative;
  right: 0;
  max-width: 70%;
  min-width: 10%;
  padding: 3px;
  margin-right: 1%;
  background-color: #3377ff;
  color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  float: right;
  text-align: right;
}

.chat-popup-input {
  width: 100%;
  height: 12%;
  margin-top: 2px;
}

.chat-popup-input input {
  width: 80%;
  float: left;
  height: 70%;
  padding: 5px;
  border: 0px;
  border-top: 1px solid #eee;
}

.chat-popup-send-btn {
  float: left;
  padding: 3px;
  font-size: 13px;
  width: 18%;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
}

.chat-popup-footer {

}

/* About */
#about {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin: 1% 0;
  padding: 1%;
  width: 40%;
  position: relative;
  left: 5%;
}

/* Utility */

img {
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

/* Screen smaller than 800px */
@media only screen and (max-width: 800px) {
  /* Post */
  .post{
    width: 80%;
    left: 5%;
}

.post-owner-avatar {
    width: 14%;
}

.comment-owner-avatar {
    width: 12%;
}

.comment-my-avatar {
    width: 12%;
}

.comment-input {
    width: 87%;
    padding: 3px;
}

.post-comment-btn {
    width: 15%;
    margin-left: 0%;
}
/* New status */ 
.new-status {
    width: 80%;
    left: 5%;
}

.status-my-avatar {
    width: 12%;
}

.status-input {
    width: 87%;
}

.add-photo-btn {
    left: 13%;
}
}

