/* Navigation bar */
#navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #003380;
  padding: 0px 20px;
  margin: 0;
}

#navbar ul li {
  display: inline-block;
  border: px solid black;
  margin: 0px;
}

#navbar ul li a {
  display: block;
  padding: 13px 14px;
  text-decoration: none;
  color: white;
}

.navbar-avatar {
  border: px solid black;
  width: 46px;
  margin: 0;
  padding: 3px;
}

#navbar ul li a:hover {
  background-color: #002966;
}

.navleft {
  float: left;
}

.nav-right {
  float: right;
}

.active {
  
}