#navbar
  ul
    li.left
      a(href='/').navbar-a
        i.fa.fa-maxcdn
    li.right
      a(href='/logout').navbar-a
        i.fa.fa-power-off
    li.right.noti-li
      span.noti-count#noti-count
      span.navbar-a#noti-show
        i.fa.fa-bell-o
      div(style="display: none;").noti-container#noti-container
        .noti-header#noti-header Notifications
        .noti-body#notis
        .noti-seemore
          span.seemore#seemore-notis See more             
        .noti-footer#noti-footer
          a(href="#") See all
    li.right.noti-li
      span.noti-count#message-count
      span.navbar-a#message-show
        i.fa.fa-comments-o
      div(style="display: none;").noti-container#message-container
        .noti-header#message-header Messages
        .noti-body#messages
          // .msg
          //   .msg-avatar: img(src="http://vnu.com.vn/wp-content/uploads/freshizer/599863026a6b554981d5639361d0a1ed_sarah-570-543-c.jpg" alt="img")
          //   .msg-contents
          //     .msg-display-name Luu Hoang
          //     .msg-datetime 2016 Dec 
          //     .msg-content Bui Hoang luu nha tin nay
        .noti-seemore
          span.seemore#seemore-messages See more                         
        .noti-footer#message-footer
          a(href="#") See all
    li.right.noti-li
      span.noti-count#friend-req-count
      span.navbar-a#friend-req-show
        i.fa.fa-user-plus
      div(style="display: none;").noti-container#friend-req-container
        .noti-header#friend-req-header Friend requests
        .noti-body#friend-reqs
        .noti-seemore
          span.seemore#seemore-friend-reqs See more                     
        .noti-footer#friend-req-footer
          a(href="#") See all
    li.right
      a.active(href='/').navbar-a Home
    - var profileLink = '/user/' + myId
    
    li.right.navbar-display-name
      a(href= profileLink).navbar-a= displayName
    li.right
      .navbar-avatar  
        img(src= avatarUrl alt="img")
