#navbar
  ul
    li.left
      a(href='/').navbar-a
        i.fa.fa-maxcdn
    li.right
      a(href='/logout').navbar-a
        i.fa.fa-power-off
    li.right.noti-li
      span.noti-count#noti-count
      span.navbar-a#noti-show
        i.fa.fa-bell-o
      div(style="display: none;").noti-container#noti-container
        .noti-header#noti-header Notifications
        .noti-body#notis
          //.noti.noti-loadmore ...            
        .noti-footer#noti-footer
          a(href="#") See all
    li.right
      span.navbar-a
        i.fa.fa-comments-o
    li.right.noti-li
      span.noti-count#friend-req-count
      span.navbar-a#friend-req-show
        i.fa.fa-user-plus
      div(style="display: none;").noti-container#friend-req-container
        .noti-header#friend-req-header Friend requests
        .noti-body#friend-reqs
          //.noti.noti-loadmore ...            
        .noti-footer#friend-req-footer
          a(href="#") See all
    li.right
      a.active(href='/').navbar-a Home
    - var profileLink = '/user/' + myId
    
    li.right.navbar-display-name
      a(href= profileLink).navbar-a= displayName
    li.right
      .navbar-avatar  
        img(src= avatarUrl alt="img")
