.new-status
    .status-my-avatar.left: img(src= avatarUrl alt="img")
    textarea(rows=3 placeholder="Write something..").status-input
    input(type="file" name="statusPhotos" multiple).status-photos
    button(onclick="addPost();").post-status-btn.right Post